version: "3.9"

services:
  mysql:
    image: mysql:8
    container_name: mysql-db
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: edutech
    volumes:
      - mysql_data:/var/lib/mysql
    ports:
      - "3306:3306"

  backend:
    build: ./backend
    container_name: backend-app
    environment:
      MYSQL_HOST: mysql
      MYSQL_USER: root
      MYSQL_PASSWORD: password
      MYSQL_DB: edutech
    ports:
      - "5000:3000"
    depends_on:
      - mysql

  frontend:
    build: ./frontend
    container_name: frontend-app
    environment:
      VITE_BACKEND_URL: "http://localhost:5000"
    ports:
      - "3000:80"
    depends_on:
      - backend

volumes:
  mysql_data:
